<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <% if flash["notice"] %>
      <div class="flash-notice"><%= flash["notice"] %></div>
    <% end %>
    <nav>
      <a href="/">Home</a>
      <% if current_user %>
        <a href="/places">Places</a>
        <a href="/logout">Logout</a>
        <span class="nav-user">Logged in as <strong><%= current_user.username %></strong></span>
      <% else %>
        <a href="/login">Login</a>
        <a href="/users/new">Signup</a>
      <% end %>
    </nav>

    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
